## Mode , Mean & Median
Mode - Most occuring value in a dataset <br/>
Mean - Average of values, is not robust, any extreme value can change it significantly <br/>
These extreme values are called "outlier" values <br/>
Median - Sort the values, find the middle value if odd, or average of middle values if even

In [13]:
#Mode
l = [1,1,1,2,2,3]
import statistics
print(statistics.mode(l))   # IF there are multiple equal recurring values, error

#Mean

l1 = [ 2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
print(statistics.mean(l1))

#Median
l1 = [ 2, 8, 8, 12 ,20]
print(statistics.median(l1))

1
12.9
8

AttributeError: module 'statistics' has no attribute 'quantile'

## Using Pandas

In [1]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
print(df["Age"].mode())
print(df["Age"].mean())
print(df["Age"].median())

0    24.0
dtype: float64
29.69911764705882
28.0

## Quartile vs Quantile Vs Percentile
0 quartile = 0 quantile = 0 percentile<br/>
<br/>
1 quartile = 0.25 quantile = 25 percentile<br/>
<br/>
2 quartile = .5 quantile = 50 percentile (median)<br/>
<br/>
3 quartile = .75 quantile = 75 percentile<br/>
<br/>
4 quartile = 1 quantile = 100 percentile<br/>
<br/>
Quartile - Range - 0 - 4 <br/>
Quantile - Range - 0 - 1 <br/>

In [6]:
# Calculating in Pandas
# What are the outputs, are they the median values for each quarter?
quartile1 = df["Age"].quantile(0.25)
print(quartile1)
quartile2 = df["Age"].quantile(0.5)
print(quartile2)
quartile3 = df["Age"].quantile(0.75)
print(quartile3)
quartile4 = df["Age"].quantile(1)
print(quartile4)

20.125
28.0
38.0
80.0

## Quartile Calculation using numpy

In [17]:
import numpy as np 

# 1D array  
arr = [20, 2, 7, 1, 34] 

# Sorted : 1,2,7,20,34
# Q1 : Median of first part : [1,2,7] = 2
# Q2 : Median of the whole set : 7
# Q3 : Median of second part : [7,20,34] : 20
  
print("arr : ", arr)  
print("Q1 quantile of arr : ", np.quantile(arr, .25)) 
print("Q2 quantile of arr : ", np.quantile(arr, .50)) 
print("Q3 quantile of arr : ", np.quantile(arr, .75))

arr :  [20, 2, 7, 1, 34]
Q1 quantile of arr :  2.0
Q2 quantile of arr :  7.0
Q3 quantile of arr :  20.0

## Variance using Numpy<br/>
Is the average of (squared differences) from mean.

In [27]:
import numpy as np 

# 1D array  
#arr = [20, 2, 7, 1, 34] # Variamce : 158
#arr = [5, 7, 8, 9, 11]  #Variace = 4.0
#arr = [5, 7, 8, 9, 34]   #variance = 116
arr = [7, 6, 8, 4, 2, 7, 6, 7, 6, 5]   #variance = 2.7

#Calcuate mean
mean = np.mean(arr)
#Find differnces
diff = arr - mean
print (diff)
#Find Squared differencess
sqrd_diff = diff ** 2
print(sqrd_diff)
#Variance : Mean of these squared values
print(np.mean(sqrd_diff))

[ 1.2  0.2  2.2 -1.8 -3.8  1.2  0.2  1.2  0.2 -0.8]
[ 1.44  0.04  4.84  3.24 14.44  1.44  0.04  1.44  0.04  0.64]
2.7600000000000002